header {
  width: 100%;
  background: #5D747C; }
  header h1 {
    display: none; }
  header img {
    display: block;
    margin: auto;
    padding: 2rem 0;
    height: 10rem;
    width: 10rem; }

nav {
  border-bottom: 2px dashed #FFFFFF; }
  nav ul#menu-main-menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 1rem 0;
    max-width: 1200px;
    margin: auto; }
    nav ul#menu-main-menu li a {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 1.5rem;
      font-family: "proxima-nova", sans-serif;
      font-weight: 400; }
      nav ul#menu-main-menu li a:hover {
        color: #DDDDDD; }
    @media screen and (max-width: 650px) {
      nav ul#menu-main-menu {
        display: block; }
        nav ul#menu-main-menu li a {
          display: block;
          text-align: center;
          padding-bottom: .5rem; } }

footer {
  background: #5D747C;
  width: 100%;
  clear: both; }
  footer .footer-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around; }
  footer .footer-copyright {
    color: #FFFFFF;
    line-height: 2rem; }
  footer ul.social-links {
    list-style: none;
    padding: 0; }
    footer ul.social-links li {
      display: inline-block; }
      footer ul.social-links li a i {
        color: #FFFFFF;
        display: inline-block;
        vertical-align: middle;
        padding: 0 .5rem; }
        footer ul.social-links li a i:hover {
          color: #DDDDDD; }
  @media screen and (max-width: 650px) {
    footer {
      padding: .5rem 0; }
      footer .footer-content {
        display: block; }
        footer .footer-content .footer-copyright,
        footer .footer-content .social-links {
          text-align: center;
          margin: 0; } }

#front-page-hero {
  position: relative; }
  #front-page-hero img {
    width: 100vw;
    height: auto;
    top: 0;
    left: 0;
    display: block; }
  #front-page-hero #front-page-hero-text {
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 2rem;
    left: 0; }
    #front-page-hero #front-page-hero-text h2,
    #front-page-hero #front-page-hero-text h3 {
      background: rgba(0, 0, 0, 0.5);
      padding: .5rem 0;
      margin: 0; }
    #front-page-hero #front-page-hero-text h2 {
      font-size: 4rem;
      margin-bottom: 1rem; }
    #front-page-hero #front-page-hero-text h3 {
      font-size: 3rem; }
    @media screen and (max-width: 650px) {
      #front-page-hero #front-page-hero-text h2 {
        font-size: 3rem; }
      #front-page-hero #front-page-hero-text h3 {
        font-size: 2rem; } }
    @media screen and (max-width: 400px) {
      #front-page-hero #front-page-hero-text h2 {
        font-size: 2.5rem; }
      #front-page-hero #front-page-hero-text h3 {
        font-size: 1.5rem; } }

#about-picture {
  width: 50%;
  float: left; }
  #about-picture img {
    width: 90%;
    height: auto;
    display: block;
    border: 3px solid #000000;
    border-radius: 6px; }
  @media screen and (max-width: 650px) {
    #about-picture {
      float: none;
      width: 100%; }
      #about-picture img {
        margin: auto; } }

#about-copy {
  width: 100%; }

.blog-category-list {
  list-style: none;
  text-align: center;
  padding: 0; }
  .blog-category-list ul {
    list-style: none;
    padding: 0; }
    .blog-category-list ul li {
      display: inline;
      background: #29ABE2;
      margin: 0 1rem 1rem 1rem;
      padding: .25rem; }
      .blog-category-list ul li:hover {
        background: #FF5F5F; }
      .blog-category-list ul li a {
        color: #FFFFFF;
        text-decoration: none; }

.blog-preview {
  padding: 1rem 0;
  border-bottom: 2px dashed #29ABE2; }
  .blog-preview a {
    text-decoration: none; }
  .blog-preview h3 {
    font-size: 3rem;
    text-align: center;
    margin: 0 0 1rem 0;
    text-decoration: none;
    color: #000000; }
  .blog-preview img {
    width: 50%;
    height: auto;
    margin: 0 25%;
    border: 3px solid #000000;
    border-radius: 6px; }
  .blog-preview:hover h3 {
    color: #29ABE2; }
  .blog-preview:hover img {
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9); }

.single-content img {
  display: block;
  margin: auto;
  min-width: 50%;
  height: auto;
  border: 3px solid #000000;
  border-radius: 6px; }

.portfolio-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 2rem; }
  .portfolio-gallery .portfolio-item {
    margin: 1rem; }
    .portfolio-gallery .portfolio-item a {
      text-decoration: none; }
      .portfolio-gallery .portfolio-item a h3 {
        text-align: center;
        margin: 1rem 0;
        color: #000000; }
      .portfolio-gallery .portfolio-item a img {
        width: 20rem;
        height: auto;
        border: 3px solid #000000;
        border-radius: 6px; }
        @media screen and (max-width: 650px) {
          .portfolio-gallery .portfolio-item a img {
            width: 18rem; } }
        @media screen and (max-width: 400px) {
          .portfolio-gallery .portfolio-item a img {
            width: 16rem; } }
      .portfolio-gallery .portfolio-item a:hover h3 {
        color: #29ABE2; }
      .portfolio-gallery .portfolio-item a:hover img {
        -webkit-filter: brightness(0.9);
        filter: brightness(0.9); }

.error-page {
  text-align: center;
  min-height: 50vh; }
  .error-page h2 {
    font-size: 4rem; }
  .error-page h3 {
    font-size: 2rem; }

body {
  max-width: 100vw; }

:root {
  font-size: 20px; }
  @media screen and (max-width: 650px) {
    :root {
      font-size: 18px; } }
  @media screen and (max-width: 400px) {
    :root {
      font-size: 16px; } }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem; }

hr.title-break {
  height: .25rem;
  background: #29ABE2;
  border: none; }

p a {
  color: #29ABE2; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "proxima-nova", sans-serif; }

p {
  font-family: "ff-tisa-web-pro", serif; }

.post-title,
.author,
.date {
  text-align: center;
  font-family: "proxima-nova", sans-serif; }

.post-title {
  font-size: 2rem;
  margin: 0; }

.page-title {
  text-align: center; }
  .page-title h2 {
    font-size: 3rem; }

.date {
  color: #5D747C; }

.proxima-nova {
  font-family: "proxima-nova", sans-serif; }

/*# sourceMappingURL=styles.css.map */
