nav {
  border-bottom: 2px dashed #FFFFFF; }
  nav ul#menu-main-menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 1rem 0;
    max-width: 1000px;
    margin: auto; }
    nav ul#menu-main-menu li a {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 1.5rem;
      font-family: "proxima-nova", sans-serif;
      font-weight: 400; }
      nav ul#menu-main-menu li a:hover {
        color: #DDDDDD; }
    @media screen and (max-width: 650px) {
      nav ul#menu-main-menu {
        display: block; }
        nav ul#menu-main-menu li a {
          display: block;
          text-align: center;
          padding-bottom: .5rem; } }

footer {
  background: #5D747C;
  width: 100%; }
  footer .footer-content {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-around; }
  footer .footer-copyright {
    color: #FFFFFF;
    line-height: 2rem; }
  footer ul.social-links {
    list-style: none;
    padding: 0; }
    footer ul.social-links li {
      display: inline-block; }
      footer ul.social-links li a i {
        color: #FFFFFF;
        display: inline-block;
        vertical-align: middle;
        padding: 0 .5rem; }
        footer ul.social-links li a i:hover {
          color: #DDDDDD; }
  @media screen and (max-width: 650px) {
    footer {
      padding: .5rem 0; }
      footer .footer-content {
        display: block; }
        footer .footer-content .footer-copyright,
        footer .footer-content .social-links {
          text-align: center;
          margin: 0; } }

#front-page-hero {
  position: relative; }
  #front-page-hero img {
    width: 100vw;
    height: auto;
    top: 0;
    left: 0;
    display: block; }
  #front-page-hero #front-page-hero-text {
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 2rem;
    left: 0; }
    #front-page-hero #front-page-hero-text h2,
    #front-page-hero #front-page-hero-text h3 {
      background: rgba(0, 0, 0, 0.5);
      padding: .5rem 0;
      margin: 0; }
    #front-page-hero #front-page-hero-text h2 {
      font-size: 4rem;
      margin-bottom: 1rem; }
    #front-page-hero #front-page-hero-text h3 {
      font-size: 3rem; }
    @media screen and (max-width: 650px) {
      #front-page-hero #front-page-hero-text h2 {
        font-size: 3.5rem; }
      #front-page-hero #front-page-hero-text h3 {
        font-size: 2.5rem; } }
    @media screen and (max-width: 400px) {
      #front-page-hero #front-page-hero-text h2 {
        font-size: 3rem; }
      #front-page-hero #front-page-hero-text h3 {
        font-size: 2rem; } }

.single-content {
  margin: 1.5rem; }
  .single-content img {
    display: block;
    margin: auto;
    min-width: 50%;
    height: auto;
    border: 3px solid #000000;
    border-radius: 6px; }

body {
  max-width: 100vw; }

:root {
  font-size: 20px; }
  @media screen and (max-width: 650px) {
    :root {
      font-size: 18px; } }
  @media screen and (max-width: 400px) {
    :root {
      font-size: 16px; } }

.container {
  max-width: 1000px;
  margin: auto; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "proxima-nova", sans-serif; }

p {
  font-family: "ff-tisa-web-pro", serif; }

.post-title,
.author {
  text-align: center;
  font-family: "proxima-nova", sans-serif; }

.post-title {
  font-size: 2rem; }

.proxima-nova {
  font-family: "proxima-nova", sans-serif; }

header {
  width: 100%;
  background: #5D747C; }
  header h1 {
    display: none; }
  header img {
    display: block;
    margin: auto;
    padding: 2rem 0;
    height: 10rem;
    width: 10rem; }
