// Variables
$grey: #5D747C
$blue: #29ABE2
$red: #FF5F5F
$lightgrey: #DDDDDD
$white: #FFFFFF
$black: #000000

$maxwidth: 1000px

$breakmedium: 650px

// Header Styles
header
	width: 100%
	background: $grey
	h1
		display: none
	img
		display: block
		margin: auto
		padding: 2rem 0
		height: 10rem
		width: 10rem

// Navigation Styles
nav
	ul#menu-main-menu
		display: flex
		list-style: none
		justify-content: space-around
		padding: 1rem 0
		max-width: $maxwidth
		margin: auto
		li a
			color: $white
			text-decoration: none
			font-size: 1.5rem
			&:hover
				color: $lightgrey

// Footer Styles
footer
	background: $grey
	bottom: 0
	position: absolute
	width: 100%
	.footer-content
		width: 100%
		max-width: $maxwidth
		margin: auto
		display: flex
		justify-content: space-around
	.footer-copyright
		color: $white
		// width: 50%
		height: 1rem
		line-height: 2rem
	ul.social-links
		list-style: none
		padding: 0
		// width: 50%
		li
			display: inline-block
			a i
				color: $white
				display: inline-block
				vertical-align: middle
				padding: 0 .5rem
				&:hover
					color: $lightgrey
	@media screen and (max-width: $breakmedium)
		.footer-content
			display: block
			.footer-copyright,
			.social-links
				text-align: center