// Variables
$grey: #5D747C
$blue: #29ABE2
$red: #FF5F5F
$lightgrey: #DDDDDD
$white: #FFFFFF
$black: #000000

$proximanova : 'proxima-nova', sans-serif
$tisa: 'ff-tisa-web-pro', serif

$maxwidth: 1000px

$breakmedium: 650px
$breaksmall: 400px

// Imports
@import "header"
@import "navigation"
@import "footer"
@import "front-page"
@import "single"
@import "error-page"


// General styles
body
	max-width: 100vw
\:root
	font-size: 20px		// Root font-size
	@media screen and (max-width: $breakmedium)
		font-size: 18px
	@media screen and (max-width: $breaksmall)
		font-size: 16px
.container
	max-width: $maxwidth
	margin: auto
	padding: 0 1.5rem

// Font-family
h1,
h2,
h3,
h4,
h5
	font-family: $proximanova
p
	font-family: $tisa

// Helper classes
.post-title,
.author,
.date
	text-align: center
	font-family: $proximanova

.post-title
	font-size: 2rem
	margin: 0

.page-title
	text-align: center
	h2
		font-size: 3rem

.date
	color: $grey

.proxima-nova
	font-family: $proximanova






